$red: #FF4136;
$green: #2ECC40;
$blue: #0074D9;
$yellow: #FFDC00;
$fuchsia: #F012BE;
$orange: FF851B;
$lime: #01FF70;
$maroon: #85144B;
$purple: #B10DC9;
$grey: #AAAAAA;
$silver: #DDDDDD;
$black: #111111;
$olive: #3D9970;
$aqua: #7FDBFF;
$teal: #39CCCC;
$white: #EEEEEE;

$websafe_red: red;
$websafe_green: green;
$websafe_blue: blue;
$websafe_yellow: yellow;
$websafe_fuchsia: fuchsia;
$websafe_orange: orange;
$websafe_lime: lime;
$websafe_maroon: maroon;
$websafe_purple: purple;
$websafe_grey: grey;
$websafe_silver: silver;
$websafe_black: black;
$websafe_olive: olive;
$websafe_aqua: aqua;
$websafe_teal: teal;
$websafe_white: white;
