@import 'colors';

body {
  padding: 0;
  width: 80%;
  margin: auto;
}

#control-panel,
#slick-images {
  display: flex;
  justify-content: space-between;
}

.titles.tag-cloud::before {
  content: 'Titles';
}
.tags.tag-cloud::before {
  content: 'Tags';
}

.tags.tag-cloud .tag::after,
.titles.tag-cloud .title::after {
  content: attr(data-count);
  padding: .2em;
  margin-left: .2em;
  margin-right: -.2em;
  background-color: $yellow;
  color: $black;
};

section.images::before {
  content: 'Recent images';
}

.tag-cloud::before,
section.images::before {
  display: block;
  background-color: $yellow;
  color: $black;
  padding: .4em;
  font-size: 1.4em;
}

.titles.tag-cloud .title,
.tags.tag-cloud .tag {
  background-color: $black;
  color: $yellow;
  padding: .3em;
  margin: .3em;
  display: inline-block;
}

#control-panel {
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: #EEE;
  border-bottom-style: solid;
  border-radius: 4px;

  & #site-title {
    font-size: 32px;
    text-shadow: 1px 2px 1px $grey;
    border-bottom: thin solid $grey;
    padding: 10px;
    margin: 10px;
  }

  & button#reloadBtn {
    display: none;
    height: 40px;
    width: 40px;
    margin: 20px;
    font-size: 8px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(48, 48, 48, 0.3);
    border: thin solid #999;

    &:hover {
      background-color: #333;
      color: #DDD;
    }
    &:active {
      box-shadow: 0 0 3px #000;
    }
  }
}

#slick-images {
  flex-wrap: wrap;
  counter-reset: slickrImages;

  & div.image {
    counter-increment: slickrImages;
    position: relative;
    margin: 10px;
    max-width: 200px;
    max-height: 300px;
    overflow: hidden;
    line-height: 1.4em;

    &::after {
      content: counter(slickrImages);
      position: absolute;
      top: 0;
      left: 0;
      padding: 4px;
      font-size: 8px;
      font-weight: bold;
      color: #FFF;
      text-shadow: 0 0 1px $black;
      background-color: rgba(0, 0, 0, 0.2);
    }

    & .owner-name::before,
    & .tags::before,
    & .image-title::before {
      background-color: $olive;
      color: $white;
      padding: .1em .5em;
      border-radius: .4em;
      margin: auto .3em;
    }

    & .owner-name::before {
      content: 'by ';
    }
    & div:nth-child(even) {
      color: $blue;
      background-color: $white;
      border-radius: .4em;
    }
    & .tags::before {
      content: 'tags ';
    }

    & .image-title::before {
      content: 'title ';
    }

    & .image-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 200px;
      max-width: 200px;
    }
  }

  & a {
    text-decoration: none;
    & img {
      border: thin solid rgba(48, 48, 48, 0.3);
      box-shadow: 2px 2px 1px #333;
      max-width: 100%;
    }
  }
}



@media screen and (max-width: 899px) {
  body{
      padding-bottom: 100px;
  }

  #control-panel {
    position: fixed;
    bottom: 0;
    padding: 0;
    margin:0;
    background-color: #333;
    color: $silver;
    width: 100%;
    z-index: 100;

    & button#reloadBtn {
      color: $white;
      background-color: #333;
      border: thin solid $grey;

      &:active {
        box-shadow:0 0 3px $black;
      }
    }
  }

  #slick-images {
    width: 90%;
    justify-content: center;
  }
}
